.button {
  display: block;

  width: 280px;
  padding-top: 13px;
  padding-bottom: 12px;

  text-align: center;

  border: none;

  cursor: pointer;
}

.button--green {
  color: $font-color-white;

  background-color: $green;

  &:hover,
  &:focus {
    background-color: $green-darken;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--decolorized {
  color: $second-font-color;
  background-color: $bg-color-gray;

  &:hover,
  &:focus {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    color: rgba(68, 68, 68, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .button {
    width: 245px;
    padding-top: 17px;
    padding-bottom: 15px;

    font-size: 20px;
    line-height: 20px;
  }
}

