.button {
  display: block;

  text-align: center;
  text-transform: uppercase;

  border: none;

  cursor: pointer;
}

.button--green {
  color: $font-color-white;

  background-color: $green;

  &:hover,
  &:focus {
    background-color: $green-darken;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--decolorized {
  color: $font-third-color;
  background-color: $bg-color-gray;

  &:hover,
  &:focus {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    color: rgba(68, 68, 68, 0.3);
  }
}

// // ======================================================================
//    #Mobile styles
// // ======================================================================

@media (min-width: $mobile-width) {
  .button--size-s {
    font-size: 16px;
    line-height: 20px;
  }
}

// // ======================================================================
//    #Tablet styles
// // ======================================================================

@media (min-width: $tablet-width) {
  .button--size-m {
    font-size: 20px;
    line-height: 20px;
  }
}
