.catalog {
  width: $mobile-width;
  margin: 0 auto;
  margin-bottom: 28px;
}

.catalog__list {
  @include list-base-style-reset;

  display: flex;
  flex-direction: column;

  border-right: 1px solid $line-gray;
  border-left: 1px solid $line-gray;
}

.catalog__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  padding-bottom: 24px;

  border-bottom: 1px solid $line-gray;
}

.catalog__item:first-child {
  border-top: 1px solid $line-gray;
}

.catalog__item-image {
  width: 140px;
  height: 144px;
}

.catalog__item-table {
  width: 140px;

  border-collapse: collapse;
}

.catalog__item-title {
  width: 75px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.catalog__item-link {
  display: block;

  text-align: left;

  &[href]:hover,
  &[href]:focus {
    color: rgba(17, 17, 17, 0.6);
  }

  &[href]:active {
    color: rgba(17, 17, 17, 0.3);
  }
}

.catalog__table-row {
  font-family: $second-font;
  font-size: 12px;
  line-height: 16px;
  color: $font-third-color;
  text-transform: none;
}

.catalog__table-index {
  text-align: left;
}

.catalog__table-content {
  text-align: right;
}

.catalog__item--plus {
  position: relative;

  padding-top: 80px;

  &::before {
    content: "";

    position: absolute;
    top: 27px;
    left: 145px;

    width: 31px;
    height: 31px;

    background-image: url("../img/icon-plus-mobile.svg");
    background-repeat: no-repeat;
  }
}

.catalog__item-show-more {
  width: 205px;
  margin: 0 auto;
  margin-bottom: 8px;
}

.catalog__item-description {
  margin: 0;
  margin-bottom: 22px;

  font-family: $second-font;
  font-size: 12px;
  line-height: 16px;
  color: $font-third-color;
  text-transform: none;
}

.catalog__item-button {
  width: 280px;
  padding: 10px;
}

// // ======================================================================
//    ##Tablet styles
// // ======================================================================

@media (min-width: $tablet-width) {
  .catalog {
    width: $tablet-width;
    margin: 0 auto;
    padding: 0 30px;
  }

  .catalog__list {
    flex-direction: row;
    flex-wrap: wrap;

    margin-bottom: 8px;

    border-right: none;
    border-left: none;
  }

  .catalog__item {
    flex-direction: column;

    width: 324px;
    margin-top: 80px;
    margin-right: 60px;
    margin-bottom: 60px;
    padding-right: 0;
    padding-bottom: 40px;
    padding-left: 0;

    border-bottom: none;
    background-color: $bg-color-gray;
  }

  .catalog__item:nth-child(even) {
    margin-right: 0;
  }

  .catalog__item:last-child {
    margin-right: 0;

    background-color: $bg-color-white;
    border: 1px solid $line-gray;
  }

  .catalog__item-image {
    position: relative;

    margin-bottom: 18px;
  }

  .catalog__item-image--small-bucket {
    width: 324px;
    height: 172px;
    margin-top: -47px;
  }

  .catalog__item-image--big-bucket {
    width: 324px;
    height: 208px;
    margin-top: -81px;
  }

  .catalog__item-characteristics {
    width: 324px;
    padding-left: 39px;
    padding-right: 37px;
  }

  .catalog__item-table {
    width: 250px;
    margin-bottom: 31px;
  }

  .catalog__item-title {
    width: 130px;
    margin-right: auto;
    margin-bottom: 17px;
    margin-left: auto;
  }

  .catalog__item-link {
    text-align: center;
  }

  .catalog__table-row {
    font-size: 16px;

    border-bottom: 1px solid $line-gray-darken2;
  }

  .catalog__table-row td {
    padding: 8px 0;
  }

  .catalog__item--plus {
    justify-content: flex-start;

    padding-top: 163px;
    padding-bottom: 0;

    &::before {
      top: 53px;
      left: 131px;

      width: 61px;
      height: 61px;

      background-image: url("../img/icon-plus.svg");
      background-repeat: no-repeat;

      opacity: 0.2;
    }
  }

  .catalog__item-show-more {
    width: 140px;
    margin-bottom: 27px;
  }

  .catalog__item-description {
    margin-bottom: 88px;
    padding: 0 50px;

    font-size: 16px;
    text-align: center;
  }

  .catalog__item-button {
    width: 249px;
    margin: 0 auto;
  }
}

// // ======================================================================
//    ##Dessktop styles
// // ======================================================================

@media (min-width: $desktop-width) {
  .catalog {
    width: $desktop-width;
    padding: 0 40px;
  }

  .catalog__list {
    margin-bottom: 11px;
  }

  .catalog__item {
    width: 245px;
    margin-right: 80px;
    margin-bottom: 64px;
  }

  .catalog__item:nth-child(even) {
    margin-right: 80px;
  }

  .catalog__item:nth-child(4n) {
    margin-right: 0;
  }

  .catalog__item-image {
    margin-bottom: 17px;
  }

  .catalog__item--plus {
    padding-top: 162px;
    padding-bottom: 40px;

    &::before {
      top: 52px;
      left: 92px;
    }
  }

  .catalog__item-characteristics {
    width: 245px;
  }

  .catalog__item-table {
    width: 170px;
  }

  .catalog__item-description {
    padding: 0 35px;
  }

  .catalog__item-button {
    width: 169px;
  }
}
