.example {
  display: flex;
  flex-direction: column;

  padding-top: 16px;

  background-color: $bg-color-gray;
}

.example__container {
  width: $mobile-width;
  margin: 0 auto;
  padding: 0 20px;
}

.example__title {
  margin: 0;
  margin-bottom: 24px;
}

.example__description {
  margin: 0;
  margin-bottom: 24px;
  padding-right: 5px;

  font-family: $second-font;
  text-transform: none;
  color: $second-font-color;
}

.example__table-wrapper {
  margin-bottom: 34px;
}

.example__table {
  display: flex;

  margin-bottom: 14px;
}

.example__weight-loss,
.example__time-spend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.example__weight-loss {
  margin-right: 32px;
}

.example__data {
  width: 124px;
  padding-top: 14px;
  padding-right: 20px;
  padding-bottom: 17px;
  padding-left: 20px;

  font-size: 24px;
  line-height: 24px;
  text-align: center;

  border: 1px solid $line-gray-darken2;
  border-radius: 5px;
}

.example__text {
  z-index: 1;

  width: 87px;
  margin-top: -15px;
  padding: 5px 15px;

  font-family: $second-font;
  font-size: 12px;
  line-height: 12px;
  color: $second-font-color;
  text-align: center;
  text-transform: none;

  background-color: $bg-color-gray;
}

.example__budget-spend {
  margin: 0;

  line-height: 20px;
  text-align: center;
}

.example-slider {
  margin: 0 auto;
  padding-bottom: 29px;
}

.example-slider__list {
  @include list-base-style-reset;

  margin-bottom: 27px;
}

.example-slider__image {
  width: 320px;
  height: 240px;
}

.example-slider__actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-slider__button {
  padding: 6px 5px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $default-font-color;

  cursor: pointer;

  background-color: transparent;
  border: none;
  border-bottom: 1px dotted #bebebe;

  &:hover,
  &:focus {
    border-bottom: 1px solid #989898;
  }

  &:active {
    border-bottom: none;
  }
}

.example-slider__bar {
  width: 84px;
  height: 14px;
  margin: 0 13px;
  padding: 3px 6px;

  background-color: $bg-color-white;
  border: 1px solid $line-gray-darken2;
  border-radius: 5px;
}

.example-slider__toggle {
  width: 35px;
  height: 6px;

  background-color: $green;
  border-radius: 5px;

  cursor: pointer;
}

// // ======================================================================
//    #Tablet styles
// // ======================================================================

@media (min-width: $tablet-width) {
  .example {
    padding-top: 42px;

    background: linear-gradient(to bottom, $bg-color-white 620px, $bg-color-gray 620px);

    border-top: 1px solid $line-gray;
  }

  .example__title {
    margin-bottom: 64px;
  }

  .example__container {
    width: $tablet-width;
    min-height: 620px;
    padding: 0 30px;
  }

  .example__description {
    margin-bottom: 54px;
    padding-right: 30px;

    font-size: 16px;
    line-height: 24px;
  }

  .example__table {
    margin-bottom: 0;
  }

  .example__table-wrapper {
    display: flex;
    align-items: center;

    margin-bottom: 0;
  }

  .example__weight-loss,
  .example__time-spend {
    flex-direction: column;
    align-items: center;
  }

  .example__weight-loss {
    margin-right: 42px;
  }

  .example__data {
    width: 162px;
    padding-top: 14px;
    padding-bottom: 19px;

    font-size: 30px;
    line-height: 37px;
  }

  .example__text {
    margin-top: -13px;
    padding: 5px 8px;

    font-size: 14px;
    line-height: 14px;

    background-color: $bg-color-white;
  }

  .example__weight-loss .example__text {
    width: 114px;
  }

  .example__time-spend .example__text {
    width: 143px;
  }

  .example__budget-spend {
    display: flex;
    flex-direction: column;

    width: 175px;
    margin-bottom: 12px;
    margin-left: auto;

    font-size: 20px;
    text-align: right;
  }

  .example__budget-spend-text {
    margin-bottom: 9px;
  }

  .example-slider {
    padding-bottom: 68px;
  }

  .example-slider__image {
    position: relative;
    top: -212px;
    left: 7px;

    width: 690px;
    height: 517px;
    margin: 0 auto;
    margin-bottom: -226px;
  }

  .example-slider__button {
    font-size: 20px;
  }

  .example-slider__bar {
    position: relative;

    width: 428px;
    height: 6px;
    margin: 0 17px;

    background-color: $bg-color-gray-darken;
  }

  .example-slider__toggle {
    position: absolute;
    top: -13px;
    left: 198px;

    width: 34px;
    height: 34px;

    background-color: $bg-color-white;
    border: 1px solid $line-gray-darken;
    border-radius: 50%;

    &::before {
      content: "";

      position: absolute;
      top: 12px;
      left: 12px;

      width: 8px;
      height: 8px;

      background-color: $green;
      border-radius: 50%;
    }
  }
}

// // ======================================================================
//    #Desktop styles
// // ======================================================================

@media (min-width: $desktop-width) {
  .example {
    flex-direction: row;

    width: $desktop-width;
    margin: 0 auto;
    padding-top: 24px;
    padding-right: 110px;
    padding-left: 110px;

    background: linear-gradient(to bottom, $bg-color-white 159px, $bg-color-gray 159px);

    border-top: none;
  }

  .example__container {
    display: flex;
    flex-direction: column;

    width: 470px;
    min-height: 600px;
    margin: 0;
    margin-right: 64px;
    padding: 0;
  }

  .example__title {
    margin: 0;
    margin-bottom: 70px;
  }

  .example__description-wrapper {
    display: flex;
    flex-direction: column;

    padding-top: 75px;
    padding-right: 5px;
    padding-bottom: 75px;
  }

  .example__description {
    margin-bottom: 69px;
  }

  .example__table-wrapper {
    flex-direction: column;
  }

  .example__table {
    margin-right: auto;
    margin-bottom: 50px;
  }

  .example__text {
    background-color: $bg-color-gray;
  }

  .example__budget-spend {
    display: flex;
    flex-direction: row;

    width: 470px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
  }

  .example__budget-spend-text {
    width: 175px;
    margin-right: 62px;
    margin-bottom: 0;
  }

  .example-slider {
    width: 690px;
  }

  .example-slider__list {
    margin-bottom: 0;
  }

  .example-slider__image {
    position: relative;
    top: -55px;
    left: 36px;

    margin-bottom: 0;
  }

  .example-slider__actions {
    margin-top: -21px;
    margin-left: 111px;
  }
}
