.features__list {
  @include list-base-style-reset;

  display: flex;
  flex-direction: column;

  font-family: $second-font;
  color: $second-font-color;
  text-transform: none;
}

.features__item {
  margin-bottom: 32px;
  padding-left: 80px;
}

.features__item:last-child {
  margin-bottom: 0;
}

.features__description {
  margin: 0;
}
