.features {
  padding-top: 17px;
  padding-right: 0;
  padding-bottom: 46px;
  padding-left: 0;
}

.features__title {
  margin: 0;
  margin-bottom: 30px;
}

.features__list {
  @include list-base-style-reset;

  display: flex;
  flex-direction: column;

  font-family: $second-font;
  color: $second-font-color;
  text-transform: none;
}

.features__item {
  margin-bottom: 26px;
}

.features__item:last-child {
  margin-bottom: 0;
}

.features__description {
  position: relative;

  margin: 0;
  padding-left: 80px;

  &::before {
    content: "";

    position: absolute;
    top: -3px;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $green;
    background-position: 5px 5px;
  }
}

.features__description--eco {
  &::before {
    background-image: url("../img/advantage-leaf@1x.png");
    background-repeat: no-repeat;
  }
}

.features__description--powder {
  &::before {
    background-image: url("../img/advantage-powder@1x.png");
    background-repeat: no-repeat;
  }
}

.features__description--food {
  &::before {
    background-image: url("../img/advantage-dining@1x.png");
    background-repeat: no-repeat;
  }
}

.features__description--period {
  &::before {
    background-image: url("../img/advantage-clock@1x.png");
    background-repeat: no-repeat;
  }
}

// // ======================================================================
//    #Tablet styles
// // ======================================================================

@media (min-width: $tablet-width) {
  .features {
    padding-top: 45px;
    padding-bottom: 103px;
  }

  .features__title {
    margin-bottom: 76px;
  }

  .features__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .features__item {
    position: relative;

    width: 245px;
    margin-bottom: 135px;

    background-color: none;

    counter-increment: section;

    &::after {
      content: counter(section);

      position: absolute;

      top: 85px;
      right: 6px;
      z-index: -1;

      font-family: $default-font;
      font-size: 280px;
      color: $bg-color-gray;
    }
  }

  .features__item:nth-child(1) {
    &::after {
      top: 88px;
      right: 16px;
    }
  }

  .features__item:nth-child(2) {
    &::after {
      top: 88px;
      right: 0;
    }
  }

  .features__item:nth-child(3) {
    &::after {
      top: 89px;
      right: -2px;
    }
  }

  .features__item:nth-child(4) {
    &::after {
      top: 90px;
      right: -3px;
    }
  }

  .features__item:nth-child(2n + 1) {
    margin-right: 139px;
  }

  .features__item:nth-last-child(1),
  .features__item:nth-last-child(2) {
    margin-bottom: 0;
  }

  .features__description {
    padding-top: 109px;
    padding-left: 0;

    font-size: 16px;
    line-height: 24px;

    &::before {
      width: 80px;
      height: 80px;

      background-position: 15px 15px;
    }
  }
}

// // ======================================================================
//    #Desktop styles
// // ======================================================================

@media (min-width: $desktop-width) {
  .features {
    padding-top: 72px;
    // padding-bottom: 103px;
  }

  .features__item {
    width: 245px;
    margin-right: 80px;
    margin-bottom: 0;
  }

  .features__item:nth-child(2n + 1) {
    margin-right: 80px;
  }

  .features__item:last-child {
    margin-right: 0;
  }

  .features__title {
    margin-bottom: 75px;
  }

  .features__description {
    padding-top: 108px;
  }
}
