.main-nav {
  font-size: 20px;
  line-height: 20px;
}

.main-nav__list {
  @include list-base-style-reset;

  display: flex;
  flex-direction: column;
}

.main-nav__item {
  padding: 20px 0;

  text-align: center;

  border-bottom: 1px solid $line-gray;
}

.main-nav__link {
  font-weight: 500;
  color: $default-font-color;

  &[href]:hover,
  &[href]:focus {
    color: rgba(17, 17, 17, 0.6);
  }

  &[href]:active {
    color: rgba(17, 17, 17, 0.3);
  }
}

.main-nav__link--current {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    bottom: -5px;
    left: 0;

    width: 100%;
    height: 2px;

    background-color: $green;
  }
}
