.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__wrapper {
  display: flex;
  align-items: center;

  padding-top: 11px;
  padding-bottom: 11px;
}

.page-header__toggle {
  width: 24px;
  height: 18px;
  margin-left: auto;

  border: none;

  background-color: $bg-color-white;
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  cursor: pointer;
}

.page-header__toggle--close {
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.page-header__intro {
  background: linear-gradient(to bottom, $green 70%, $bg-color-white 30%);
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.page-header__title {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 20px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $font-color-white;
  text-align: center;
  text-transform: none;
}

.page-header__description {
  margin: 0;
  margin-bottom: 30px;

  line-height: 14px;
  color: $font-color-white;
  text-align: center;
}

.page-header__description-slogan {
  margin: 0;
}

.page-header__button {
  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .page-header__toggle {
    display: none;
  }

  .page-header__intro {
    display: flex;
    flex-direction: column;

    margin-left: 90px;

    background-color: $bg-color-white;
    background-image: none;
  }

  .page-header__title {
    order: 0;

    margin-bottom: 30px;

    font-size: 60px;
    line-height: 60px;
    color: $default-font-color;
    text-align: left;
  }

  .page-header__description {
    display: flex;
    flex-direction: column;

    font-size: 20px;
    line-height: 20px;
    color: $default-font-color;
    text-align: left;
  }

  .page-header__description-slogan {
    margin-bottom: 50px;
  }

  .page-header__description-image {
    order: 1;

    margin-top: -85px;
    margin-left: -90px;
  }

  .page-header__button {
    order: 0;
    z-index: 1;

    margin: 0;
  }
}
