.page-footer {
  display: flex;
  flex-direction: column;
}

.page-footer__contacts-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}

.page-footer__contacts-cooperation {
  width: 123px;
  margin: 0;
}

.page-footer__contacts-small {
  font-size: 16px;
  line-height: 20px;
}

.page-footer__contacts-address {
  width: 135px;
  margin: 0;

  font-family: $second-font;
  line-height: 20px;
  color: $second-font-color;
  text-transform: none;
}

.page-footer__contacts-map {
  width: 320px;
  height: 400px;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $bg-color-gray;
}

.page-footer__logo {
  margin-top: 39px;
  margin-bottom: 31px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__social-list {
  @include list-base-style-reset;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  margin-bottom: 22px;
  padding-top: 24px;
  padding-bottom: 21px;

  border-top: 1px solid $line-gray-darken;
  border-bottom: 1px solid $line-gray-darken;
}

.page-footer__social-item {
  margin-right: 35px;
}

.page-footer__social-link {
  &:hover {
    fill: $green;
  }

  &:active {
    fill: $green;
    opacity: 0.3;
  }
}

.page-footer__copyright-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  margin-bottom: 22px;

  &:hover {
    fill: $green;
  }

  &:active {
    fill: $green;
    opacity: 0.3;
    color: rgba(68, 68, 68, 0.3);
  }
}

.page-footer__copyright-text {
  width: 115px;
  margin: 0;

  font-family: $second-font;
  font-size: 16px;
  line-height: 16px;
  color: $second-font-color;
  text-transform: none;
}

.page-footer__copyright-image {
  width: 27px;
  height: 34px;
}
