.page-footer,
.page-footer__contacts--bg-gray {
  background-color: $bg-color-gray;
}

.page-footer__contacts--bg-white {
  background-color: $bg-color-white;
}

.page-footer__contacts-info {
  display: flex;
  justify-content: space-between;

  padding-top: 28px;
  padding-bottom: 25px;
}

.page-footer__contacts-cooperation {
  width: 160px;
  margin: 0;
  margin-right: 15px;
}

.page-footer__contacts-cooperation-text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.page-footer__contacts-address {
  width: 180px;
  margin: 0;

  font-family: $second-font;
  font-style: normal;
  line-height: 20px;
  color: $font-third-color;
  text-transform: none;
}

.page-footer__contacts-map {
  width: 100%;
  min-height: 362px;
}

.page-footer__contacts-map-image {
  width: 320px;
  margin: 0 auto;
}

.page-footer__logo {
  position: relative;

  display: flex;
  justify-content: center;

  padding-top: 40px;
  padding-bottom: 31px;

  &::before { //чиним баг с :active для svg в IE11
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;

    display: block;
  }
}

.page-footer__social {
  border-top: 1px solid $line-gray-darken;
  border-bottom: 1px solid $line-gray-darken;
}

.page-footer__social-list {
  @include list-base-style-reset;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  width: 130px;
  margin: 0 auto;

  padding-top: 23px;
  padding-bottom: 10px;
}

.page-footer__social-item {
  margin-right: 36px;
  margin-bottom: 10px;
}

.page-footer__social-item:last-child {
  margin-right: 0;
}

.page-footer__social-link {
  position: relative;

  display: flex;

  &:hover,
  &:focus {
    fill: $green;
  }

  &:active {
    fill: $green;
    opacity: 0.3;
  }

  &::before { //чиним баг с :active для svg в IE11
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;

    display: block;
  }
}

.page-footer__social-link--vkontakte svg {
  width: 22px;
  height: 12px;
}

.page-footer__social-link--instagram svg {
  width: 17px;
  height: 20px;
}

.page-footer__social-link--facebook svg {
  width: 13px;
  height: 20px;
}

.page-footer__copyright {
  padding-top: 21px;
  padding-bottom: 22px;
}

.page-footer__copyright-link {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover,
  &:focus {
    fill: $green;
  }

  &:active {
    fill: $green;
    opacity: 0.3;
    color: rgba(68, 68, 68, 0.3);
  }

  &::before { //чиним баг с :active для svg в IE11
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;

    display: block;
  }
}

.page-footer__copyright-text {
  font-family: $second-font;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.2px;
  color: $font-third-color;
  text-transform: none;
}

.page-footer__copyright-image {
  width: 27px;
  height: 34px;
}

// // ======================================================================
//    #Tablet styles
// // ======================================================================

@media (min-width: $tablet-width) {
  .page-footer__contacts-info {
    padding: 59px 0;
  }

  .page-footer__contacts-cooperation {
    width: 155px;
    margin-left: 40px;
    padding-top: 6px;
  }

  .page-footer__contacts-cooperation-text {
    font-size: 20px;
    line-height: 25px;
  }

  .page-footer__contacts-address {
    margin-right: 42px;
    padding-top: 4px;

    font-size: 16px;
    text-align: right;
  }

  .page-footer__contacts-street {
    display: block;
    margin-bottom: 19px;
  }

  .page-footer__contacts-map {
    width: 100%;
    min-height: 400px;
  }

  .page-footer__contacts-map-image {
    width: 768px;
    min-height: 400px;
  }

  .page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    padding-top: 54px;
    padding-bottom: 60px;
  }

  .page-footer__logo {
    margin-right: 156px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .page-footer__social {
    border-top: none;
    border-bottom: none;
  }

  .page-footer__social-list {
    padding: 0;
  }

  .page-footer__social-item {
    margin-right: 29px;
  }

  .page-footer__social-link--vkontakte svg {
    width: 30px;
    height: 16px;
  }

  .page-footer__social-link--instagram svg {
    width: 23px;
    height: 24px;
  }

  .page-footer__social-link--facebook svg {
    width: 14px;
    height: 28px;
  }

  .page-footer__copyright {
    width: 165px;
    margin-left: auto;
    padding: 0;
  }

  .page-footer__copyright-text {
    letter-spacing: 0.1px;
  }
}

// // ======================================================================
//    #Desktop styles
// // ======================================================================

@media (min-width: $desktop-width) {
  .page-footer {
    position: relative;
  }

  .page-footer__contacts-info {
    position: absolute;
    z-index: 1;
    top: 92px;
    left: 40px;

    width: 570px;
    padding-left: 77px;
    padding-right: 89px;

    background-color: $bg-color-white;
  }

  .page-footer__contacts-cooperation {
    margin-left: 0;
  }

  .page-footer__contacts-address {
    width: 155px;
    margin-right: 0;

    text-align: left;
  }

  .page-footer__contacts-map-image {
    width: 1440px;
  }

  .page-footer__logo {
    margin-right: 412px;
  }
}
