.page-footer--bg-gray {
  background-color: $bg-color-gray;
}

.page-footer--bg-white {
  background-color: $bg-color-white;
}

.page-footer__contacts-info {
  display: flex;
  justify-content: space-between;

  padding: 35px 0;
}

.page-footer__contacts-cooperation {
  margin: 0;
}

.page-footer__contacts-intro {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.page-footer__contacts-address {
  width: 190px;
  margin: 0;

  font-family: $second-font;
  line-height: 20px;
  color: $second-font-color;
  text-transform: none;
}

.page-footer__contacts-map {
  width: 100%;
  min-height: 400px;
}

// // ======================================================================
//    #Tablet styles
// // ======================================================================

@media (min-width: $tablet-width) {
  .page-footer__contacts-info {
    padding: 65px 0;
  }

  .page-footer__contacts-cooperation {
    width: 155px;
    margin-left: 40px;
  }

  .page-footer__contacts-intro {
    font-size: 20px;
    line-height: 25px;
  }

  .page-footer__contacts-address {
    margin-right: 40px;

    font-size: 16px;
  }

  .page-footer__contacts-street {
    display: block;
    margin-bottom: 20px;
  }

  .page-footer__contacts-map {
    width: 100%;
  }
}

.page-footer__logo {
  display: flex;
  justify-content: center;

  padding: 25px 0;
}

.page-footer__social-list {
  @include list-base-style-reset;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 25px 0;

  border-top: 1px solid $line-gray-darken;
  border-bottom: 1px solid $line-gray-darken;
}

.page-footer__social-item {
  margin-right: 35px;
}

.page-footer__social-item:last-child {
  margin-right: 0;
}

.page-footer__social-link {
  &:hover,
  &:focus {
    fill: $green;
  }

  &:active {
    fill: $green;
    opacity: 0.3;
  }
}

.page-footer__copyright {
  padding: 25px 0;
}

.page-footer__copyright-link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover,
  &:focus {
    fill: $green;
  }

  &:active {
    fill: $green;
    opacity: 0.3;
    color: rgba(68, 68, 68, 0.3);
  }
}

.page-footer__copyright-text {
  margin: 0;

  font-family: $second-font;
  font-size: 16px;
  line-height: 16px;
  color: $second-font-color;
  text-transform: none;
}

.page-footer__copyright-image {
  width: 27px;
  height: 34px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding-top: 50px;
    padding-bottom: 60px;
  }

  .page-footer__logo {
    width: 135px;
  }

  .page-footer__social {
    width: 220px;
  }

  .page-footer__social-list {
    border: none;
  }

  .page-footer__copyright {
    width: 165px;
  }
}

// // ======================================================================
//    #Desktop styles
// // ======================================================================

@media (min-width: $desktop-width) {
  .page-footer {
    position: relative;
  }

  .page-footer__contacts-info {
    position: absolute;
    z-index: 1;
    top: 100px;
    left: 100px;

    width: 570px;

    background-color: $bg-color-white;
  }
}
