.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__container {
  width: $mobile-width;
  margin: 0 auto;
}

.page-header__logo-wrapper {
  display: flex;
  align-items: center;

  width: $mobile-width;
  margin: 0 auto;
  padding: 13px 20px;

  border-bottom: 1px solid $line-gray;
}

.page-header__toggle {
  width: 24px;
  height: 18px;
  margin-left: auto;

  border: none;
  background-color: $bg-color-white;
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.1;
  }
}

.page-header__toggle--open {
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.page-header__toggle--no-js {
  background-image: none;
}

.page-header__intro {
  position: relative;
  z-index: 1;

  width: 100%;
  margin-bottom: 23px;
  padding-top: 27px;

  background: linear-gradient(to bottom, $green-dark 306px, $bg-color-white 174px);

  &::after {
    content: "";

    position: absolute;
    top: 0;
    left: calc(50% - 160px);

    width: 320px;
    height: 305px;

    background-image: url("../img/index-background-mobile@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-mobile@2.jpg");
    }
  }
}

.page-header__intro-wrapper {
  position: relative;
  z-index: 2;
}

.page-header__title {
  margin-bottom: 25px;
}

.page-header__button {
  width: 280px;
  padding-top: 11px;
  padding-right: 10px;
  padding-bottom: 11px;
  padding-left: 10px;
}

// // ======================================================================
//    ##Tablet styles
// // ======================================================================

@media (min-width: $tablet-width) {
  .page-header__container {
    width: $tablet-width;
    margin: 0 auto;
  }

  .page-header__top-wrapper {
    display: flex;
    align-items: center;

    margin-bottom: 22px;
    padding-top: 18px;
    padding-right: 31px;
    padding-bottom: 0;
    padding-left: 30px;
  }

  .page-header__logo-wrapper {
    width: 192px;
    margin: 0;
    padding: 0;

    border-bottom: none;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__main-nav {
    margin-left: auto;
  }

  .page-header__intro {
    display: flex;
    flex-direction: column;

    min-height: 836px;
    margin-bottom: 0;
    padding-top: 28px;

    background-color: $bg-color-white;
    background-image: none;

    &::after {
      width: 0;
      height: 0;

      background-image: none;
    }
  }

  .page-header__title {
    margin: 0;
    margin-bottom: 41px;
    margin-left: 87px;
  }

  .page-header__button {
    position: relative;
    z-index: 1;

    width: 245px;
    margin-left: 87px;
    padding: 16px 10px;
  }
}

// // ======================================================================
//    #Desktop styles
// // ======================================================================

@media (min-width: $desktop-width) {
  .page-header {
    position: relative;
  }

  .page-header__container {
    width: $desktop-width;
  }

  .page-header--bg-image {
    background: linear-gradient(to right, $bg-color-white 50%, $green-dark 50%);

    &::after {
      content: "";

      position: absolute;
      top: 0;
      left: 50%;
      z-index: 1;

      width: 720px;
      height: 695px;

      background-color: $green-dark;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-size: 720px 694px;

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }

  .page-header__top-wrapper {
    width: $desktop-width;
    margin-bottom: 0;
    padding: 0 40px;
    padding-top: 46px;
  }

  .page-header__logo-wrapper {
    width: 245px;
  }

  .page-header__main-nav {
    z-index: 10;
  }

  .page-header__intro {
    z-index: 2;

    min-height: 573px;
    padding-top: 99px;

    border-top: none;
    background-color: transparent;
  }

  .page-header__title {
    width: 410px;
    margin-left: 80px;
  }

  .page-header__button {
    margin-left: 79px;
  }
}
