.page-main__title {
  width: $mobile-width;
  margin: 0 auto;
  padding-top: 16px;
  padding-right: 20px;
  padding-left: 20px;

  border-top: 1px solid $line-gray;
  border-bottom: 1px solid $line-gray;
}

.page-main__title--catalog {
  padding-bottom: 29px;
}

.page-main__title--form {
  margin-bottom: 25px;

  border-top: none;
  border-bottom: none;
}

// // ======================================================================
//    ##Tablet styles
// // ======================================================================

@media (min-width: $tablet-width) {
  .page-main__title {
    width: $tablet-width;
    padding-top: 28px;
    padding-right: 30px;
    padding-left: 30px;

    border-top: none;
    border-bottom: none;
  }

  .page-main__title--catalog {
    margin-bottom: 165px;
  }

  .page-main__title--form {
    margin-bottom: 55px;
  }
}

// // ======================================================================
//    #Desktop styles
// // ======================================================================

@media (min-width: $desktop-width) {
  .page-main__title {
    width: $desktop-width;
    padding-top: 65px;
    padding-right: 110px;
    padding-left: 110px;
  }
}
