.page-description__slogan {
  font-weight: 400;
  text-transform: uppercase;
}

.page-description__slogan--size-xs {
  line-height: 14px;
  color: $font-color-white;
  text-align: center;
}

.page-description__slogan--index {
  margin-bottom: 302px;
}

.page-description__slogan--form {
  width: $mobile-width;
  margin: 0 auto;
  margin-bottom: 40px;
  padding-right: 30px;
  padding-left: 20px;
}

.page-description__image {
  position: absolute;
  top: 139px;
  left: 0;
}

// // ======================================================================
//    ##Tablet styles
// // ======================================================================

@media (min-width: $tablet-width) {
  .page-description__slogan--size-m {
    font-size: 20px;
    line-height: 20px;
    color: $default-font-color;
    text-align: left;
  }

  .page-description__slogan--size-l {
    font-size: 20px;
    line-height: 30px;
  }

  .page-description__slogan--index {
    margin-bottom: 48px;
    margin-left: 87px;
  }

  .page-description__slogan--form {
    width: $tablet-width;
    margin-bottom: 66px;
    padding-right: 0;
    padding-left: 70px;
  }

  .page-description__container {
    display: block;
    width: 385px;
  }

  .page-description__image {
    position: relative;

    width: 708px;
    height: 609px;
    margin-top: -218px;
  }
}

// // ======================================================================
//    ##Desktop styles
// // ======================================================================

@media (min-width: $desktop-width) {
  .page-description {
    width: $desktop-width;
    padding-left: 0;
  }

  .page-description__slogan--index {
    margin-bottom: 52px;
    margin-left: 80px;
  }

  .page-description__slogan--form {
    width: $desktop-width;
    padding-left: 40px;
  }

  .page-description__container {
    width: 380px;
  }

  .page-description__image {
    position: relative;

    width: 552px;
    height: 499px;
    margin-top: -504px;
    margin-left: 450px;
  }
}
