.page-description__slogan {
  font-weight: 400;
  text-transform: uppercase;
}

.page-description__slogan--index {
  margin-bottom: 300px;
}

.page-description__slogan--form {
  width: $mobile-width;

  margin: 0 auto;
  margin-bottom: 40px;
  padding-right: 30px;
  padding-left: 20px;
}

.page-description__slogan--size-xs {
  line-height: 14px;
  color: $font-color-white;
  text-align: center;
}

.page-description__image {
  position: absolute;
  top: 140px;
  left: 0;
}

// // ======================================================================
//    ##Tablet styles
// // ======================================================================

@media (min-width: $tablet-width) {
  .page-description {
    width: $tablet-width;
    padding-left: 40px;
  }

  .page-description__slogan--size-m {
    font-size: 20px;
    line-height: 20px;
    color: $default-font-color;
    text-align: left;
  }

  .page-description__slogan--index {
    margin-bottom: 47px;
  }

  .page-description__slogan--form {
    width: 395px;

    margin: 0;
    margin-bottom: 66px;
    padding-right: 0;
    padding-left: 70px;
  }

  .page-description__slogan--size-l {
    font-size: 20px;
    line-height: 30px;
  }

  .page-description__image {
    position: relative;

    width: 708px;
    height: 609px;
    margin-top: -220px;
    margin-left: -87px;
  }
}

// // ======================================================================
//    ##Desktop styles
// // ======================================================================

@media (min-width: $desktop-width) {
  .page-description {
    width: $desktop-width;
    padding-left: 0;
  }

  .page-description__slogan--index {
    margin-bottom: 51px;
  }

  .page-description__slogan--form {
    width: 435px;

    padding-left: 110px;
  }

  .page-description__image {
    position: relative;

    width: 552px;
    height: 499px;
    margin-top: -505px;
    margin-left: 370px;
  }
}
