.page-header {
  display: flex;
  flex-direction: column;

  width: 320px;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;

  padding-bottom: 10px;
  padding-left: 20px;

  border-bottom: 1px solid $line-gray;
}

.page-header__toggle {
  width: 24px;
  height: 18px;
  margin-top: 10px;

  border: none;

  background-color: transparent;
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  cursor: pointer;
}

.page-header__toggle--close {
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

// .page-main__title--size-m {
//   margin-bottom: 20px;

//   font-size: 36px;
//   line-height: 36px;
// }

// .page-main__title--size-l {
//   margin-bottom: 35px;

//   font-size: 36px;
//   line-height: 60px;
//   text-align: left;
// }

// .page-main__title--white {
//   color: #ffffff;
// }