.programs-promo__list {
  @include list-base-style-reset;

  display: flex;
  flex-direction: column;
}

.programs-promo__item {
  margin-bottom: 20px;
  padding-top: 29px;
  padding-right: 20px;
  padding-bottom: 22px;
  padding-left: 20px;

  background-color: $bg-color-gray;
}

.programs-promo__item:last-child {
  margin-bottom: 0;
}

.programs-promo__title {
  margin: 0;
  margin-bottom: 26px;
  margin-left: 71px;

  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
}

.programs-promo__description {
  margin: 0;
  margin-bottom: 23px;
  padding-right: 15px;
  padding-bottom: 25px;

  font-family: $second-font;
  color: $second-font-color;
  text-transform: none;

  border-bottom: 1px solid $line-gray-darken;
}

.programs-promo__link {
  padding-right: 37px;

  font-size: 16px;
  line-height: 16px;
  color: $default-font-color;

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }
}
