.programs-promo__list {
  @include list-base-style-reset;
}

.programs-promo__item {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
  padding: 25px 20px;

  background-color: $bg-color-gray;
}

.programs-promo__item:last-child {
  margin-bottom: 0;
}

.programs-promo__title {
  position: relative;

  margin: 0;
  margin-bottom: 26px;
  padding-left: 71px;

  font-size: 24px;
  line-height: 37px;
  font-weight: 400;

  &::before {
    content: "";

    position: absolute;
    top: -6px;
    left: 0;

    width: 50px;
    height: 50px;

    background-color: $green;
    border-radius: 50%;
  }

  &::after {
    content: "";

    position: absolute;
  }
}

.programs-promo__title--weight-loss {
  &::after {
    top: -7px;
    left: 8px;

    width: 35px;
    height: 49px;

    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
  }
}

.programs-promo__title--weight-gain {
  &::after {
    top: 6px;
    left: -8px;

    width: 67px;
    height: 28px;

    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
  }
}

.programs-promo__description {
  margin: 0;
  margin-bottom: 25px;
  padding-right: 15px;
  padding-bottom: 25px;

  font-family: $second-font;
  color: $second-font-color;
  text-transform: none;

  border-bottom: 1px solid $line-gray-darken;
}

.programs-promo__link {
  position: relative;

  padding-right: 35px;

  font-size: 16px;
  line-height: 16px;
  color: $default-font-color;

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }
}

.programs-promo__link--arrow {
  &::after {
    content: "";

    position: absolute;
    top: 4px;

    width: 24px;
    height: 11px;
    margin-left: 5px;

    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }

  &:hover,
  &:focus {
    &::after {
      width: 33px;

      background-image: url("../img/icon-right-arrow-verylong.svg");
      background-repeat: no-repeat;
    }
  }

  &:active {
    color: rgba(17, 17, 17, 0.3);
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .programs-promo__item {
    padding-top: 60px;
    padding-right: 270px;
    padding-bottom: 60px;
    padding-left: 50px;
  }

  .programs-promo__title {
    padding-left: 0;

    font-size: 36px;

    &::before {
      top: 20px;
      left: 400px;

      width: 200px;
      height: 200px;
    }
  }

  .programs-promo__title--weight-loss {
    &::after {
      top: 4px;
      left: 430px;

      width: 140px;
      height: 194px;

      background-image: url("../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
    }
  }

  .programs-promo__title--weight-gain {
    &::after {
      top: 78px;
      left: 370px;

      width: 268px;
      height: 112px;

      background-image: url("../img/icon-cat-pro.svg");
      background-repeat: no-repeat;
    }
  }

  .programs-promo__description {
    border: none;

    font-size: 16px;
    line-height: 24px;
  }

  .programs-promo__link {
    font-size: 20px;
    line-height: 20px;
  }
}
