.programs-promo__list {
  @include list-base-style-reset;
}

.programs-promo__item {
  display: flex;
  flex-direction: column;

  margin-bottom: 19px;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 21px;
  padding-left: 20px;

  background-color: $bg-color-gray;
}

.programs-promo__item:last-child {
  margin-bottom: 0;
}

.programs-promo__title {
  position: relative;

  margin: 0;
  margin-bottom: 30px;
  padding-left: 71px;

  &::before {
    content: "";

    position: absolute;
    top: -6px;
    left: 2px;

    width: 50px;
    height: 50px;

    background-color: $green;
    border-radius: 50%;
  }

  &::after {
    content: "";

    position: absolute;
  }
}

.programs-promo__title--weight-loss {
  &::after {
    top: -8px;
    left: 10px;

    width: 35px;
    height: 49px;

    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
  }
}

.programs-promo__title--weight-gain {
  &::after {
    top: 5px;
    left: -6px;

    width: 67px;
    height: 28px;

    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
  }
}

.programs-promo__description {
  margin: 0;
  margin-bottom: 19px;
  padding-right: 15px;
  padding-bottom: 22px;

  font-family: $second-font;
  color: $second-font-color;
  text-transform: none;

  border-bottom: 1px solid $line-gray-darken;
}

.programs-promo__link {
  position: relative;

  padding-right: 35px;

  font-size: 16px;
  line-height: 16px;
  color: $default-font-color;

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }
}

.programs-promo__link--arrow {
  &::after {
    content: "";

    position: absolute;
    top: 3px;
    left: 96px;

    width: 24px;
    height: 11px;

    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }

  &:hover,
  &:focus {
    &::after {
      width: 33px;

      background-image: url("../img/icon-right-arrow-verylong.svg");
      background-repeat: no-repeat;
    }
  }

  &:active {
    color: rgba(17, 17, 17, 0.3);
    opacity: 0.3;
  }
}

// // ======================================================================
//    #Tablet styles
// // ======================================================================

@media (min-width: $tablet-width) {
  .programs-promo__item {
    margin-bottom: 30px;
    padding-top: 78px;
    padding-right: 270px;
    padding-bottom: 61px;
    padding-left: 53px;
  }

  .programs-promo__title {
    margin-bottom: 24px;
    padding-left: 0;

    &::before {
      top: 15px;
      left: 394px;

      width: 200px;
      height: 200px;
    }
  }

  .programs-promo__title--weight-loss {
    &::after {
      top: 4px;
      left: 424px;

      width: 140px;
      height: 194px;

      background-image: url("../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
    }
  }

  .programs-promo__title--weight-gain {
    &::after {
      top: 58px;
      left: 360px;

      width: 268px;
      height: 112px;

      background-image: url("../img/icon-cat-pro.svg");
      background-repeat: no-repeat;
    }
  }

  .programs-promo__description {
    margin-bottom: 35px;
    padding-right: 5px;

    font-size: 16px;
    line-height: 24px;

    border: none;
  }

  .programs-promo__item:nth-child(2) .programs-promo__description {
    padding-right: 45px;
  }

  .programs-promo__link {
    font-size: 20px;
    line-height: 20px;
  }

  .programs-promo__link--arrow {
    &::after {
      top: 5px;
      left: 131px;
    }
  }
}

// // ======================================================================
//    #Desktop styles
// // ======================================================================

@media (min-width: $desktop-width) {
  .programs-promo {
    padding-top: 80px;
  }

  .programs-promo__list {
    display: flex;
    flex-wrap: wrap;
  }

  .programs-promo__item {
    width: 570px;
    margin-right: 80px;
    margin-bottom: 0;
    padding-top: 76px;
    padding-right: 16px;
    padding-bottom: 63px;
    padding-left: 52px;
  }

  .programs-promo__item:last-child {
    margin-right: 0;
  }

  .programs-promo__title {
    margin-bottom: 74px;
    padding-left: 161px;

    &::before {
      top: -29px;
      left: 0;

      width: 100px;
      height: 100px;
    }
  }

  .programs-promo__title--weight-loss {
    &::after {
      top: -35px;
      left: 14px;

      width: 71px;
      height: 97px;

      background-image: url("../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
    }
  }

  .programs-promo__title--weight-gain {
    &::after {
      top: -7px;
      left: -18px;

      width: 134px;
      height: 57px;

      background-image: url("../img/icon-cat-pro.svg");
      background-repeat: no-repeat;
    }
  }

  .programs-promo__description {
    margin-bottom: 31px;
    padding-bottom: 0;
  }
}
