.program {
  padding-bottom: 30px;
}

.program__group {
  margin: 0;
  padding: 0;
  border: none;
}

.program__list {
  @include list-base-style-reset;
}

.program__item {
  display: flex;
  align-items: center;

  margin-bottom: 14px;
}

.program__goal .program__item,
.program__add-goods__item {
  margin-bottom: 25px;
}

.program__item:last-child {
  margin-bottom: 0;
}

.program__base-info-wrapper {
  margin-bottom: 29px;
}

.program__cat-info {
  width: $mobile-width;
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 24px;
  padding-left: 20px;
}

.program__goal {
  padding: 26px 20px;

  border-top: 1px solid $line-gray;
  border-bottom: 1px solid $line-gray;
}

.program__label {
  font-size: 16px;
  color: $default-font-second-color;

  cursor: pointer;
}

.program__input-text {
  flex-grow: 1;

  margin-left: 14px;
  padding-top: 12px;
  padding-right: 5px;
  padding-bottom: 13px;
  padding-left: 15px;

  font-size: 16px;
  line-height: 18px;
  color: $second-font-color;
  text-transform: uppercase;
  border: 1px solid $line-gray;

  &:hover,
  &:focus {
    border: 1px solid $line-gray-darken2;
  }

  &:active {
    border: 1px solid $second-font-color;
  }
}

.program__input-text--error {
  border: 1px solid $input-error;
}

input[type="radio"]:focus + .program__label--focus,
input[type="checkbox"]:focus + .program__label--focus {
  color: $green;
}

.program__label--radio {
  position: relative;

  padding-left: 45px;

  &::before {
    content: "";

    position: absolute;
    top: -6px;
    left: 0;

    width: 30px;
    height: 30px;

    border: 1px solid $line-gray-darken2;
    border-radius: 50%;
  }

  &:hover {
    &::before {
      border: 1px solid $line-gray-darken2;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

input[type="radio"]:checked + .program__label--radio {
  &::after {
    content: "";

    position: absolute;
    top: 4px;
    left: 9px;

    width: 12px;
    height: 12px;

    background-color: $green;
    border-radius: 50%;
  }
}

.program__contacts {
  width: $mobile-width;
  margin-bottom: 30px;
  padding: 0 20px;
}

.program__title {
  margin: 0;
  margin-bottom: 33px;
}

.program__title--add-goods {
  margin-bottom: 39px;
}

.program__input-icon--mail {
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-size: 18px 14px;
  background-position: 182px 14px;

  &:active {
    background-image: url("../img/icon-mail-active.svg");
  }
}

.program__input-icon--phone {
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-size: 21px 21px;
  background-position: 165px 12px;

  &:active {
    background-image: url("../img/icon-phone-active.svg");
  }
}

.program__comment {
  width: $mobile-width;
  margin-bottom: 30px;
  padding: 0 20px;
}

.program__comment-textarea {
  width: 100%;
  height: 150px;
  padding: 13px 5px;

  font-size: 16px;
  line-height: 18px;
  color: $second-font-color;
  text-align: center;
  text-transform: uppercase;

  border: 1px solid $line-gray;

  resize: none;

  &:hover,
  &:focus {
    border: 1px solid $line-gray-darken2;
  }

  &:active {
    border: 1px solid $second-font-color;
  }
}

.program__add-goods {
  width: $mobile-width;
  margin-bottom: 37px;
  padding: 0 20px;
}

.program__label--checkbox {
  position: relative;

  padding-left: 45px;

  &::before {
    content: "";

    position: absolute;
    top: -5px;
    left: 0;

    width: 30px;
    height: 30px;

    border: 1px solid $line-gray-darken2;
  }

  &:hover {
    &::before {
      border: 1px solid $line-gray-darken2;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

input[type="checkbox"]:checked + .program__label--checkbox {
  &::after {
    content: "";

    position: absolute;
    top: 2px;
    left: 5px;

    width: 22px;
    height: 17px;

    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
  }
}

.program__button {
  width: 280px;
  margin-bottom: 20px;
  padding-top: 13px;
  padding-right: 10px;
  padding-bottom: 11px;
  padding-left: 10px;
}

.program__add-goods__wrapper {
  width: $mobile-width;
  padding: 0 20px;
}

.program__important-field {
  display: block;

  margin: 0 auto;

  font-family: $second-font;
  font-size: 14px;
  line-height: 16px;
  color: $second-font-color;
  text-align: center;
  text-transform: none;
}

.program__important-field sup {
  top: -0.2em;
}

// // ======================================================================
//    ##Tablet styles
// // ======================================================================

@media (min-width: $tablet-width) {
  .program {
    padding-bottom: 73px;
  }

  .program__item {
    margin-bottom: 20px;
  }

  .program__goal .program__item {
    margin-bottom: 35px;
  }

  .program__item:last-child {
    margin-bottom: 0;
  }

  .program__cat-info {
    width: $tablet-width;
    margin-bottom: 73px;
    padding-right: 67px;
    padding-bottom: 0;
    padding-left: 72px;
  }

  .program__goal {
    margin-bottom: 73px;
    padding-top: 0;
    padding-right: 67px;
    padding-bottom: 0;
    padding-left: 71px;

    border-top: none;
    border-bottom: none;
  }

  .program__goal .program__list {
    padding-top: 33px;
    padding-right: 24px;
    padding-bottom: 33px;
    padding-left: 24px;

    border: 1px solid $line-gray;
  }

  .program__label {
    font-size: 20px;
    line-height: 20px;
  }

  .program__input-text {
    margin-left: 17px;
    padding-top: 15px;
    padding-right: 5px;
    padding-bottom: 15px;
    padding-left: 19px;

    font-size: 20px;
    line-height: 20px;
  }

  .program__label--radio {
    position: relative;

    padding-left: 63px;

    &::before {
      top: -10px;
      left: 4px;

      width: 40px;
      height: 40px;
    }
  }

  input[type="radio"]:checked + .program__label--radio {
    &::after {
      top: 2px;
      left: 16px;

      width: 17px;
      height: 17px;
    }
  }

  .program__contacts {
    width: $tablet-width;
    margin-bottom: 66px;
    padding-right: 65px;
    padding-left: 70px;
  }

  .program__title {
    margin-bottom: 77px;
  }

  .program__title--add-goods {
    margin-bottom: 66px;
  }

  .program__input-icon--mail {
    background-position: 514px 18px;
  }

  .program__input-icon--phone {
    background-position: 493px 16px;
  }

  .program__comment {
    width: $tablet-width;
    margin-bottom: 64px;
    padding-right: 67px;
    padding-left: 70px;
  }

  .program__comment-textarea {
    height: 173px;
    padding: 8px 19px;

    font-size: 20px;
    line-height: 30px;
    text-align: left;
  }

  .program__add-goods {
    width: $tablet-width;
    margin-bottom: 62px;
    padding-right: 67px;
    padding-left: 70px;
  }

  .program__add-goods__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .program__add-goods__item {
    width: 285px;
    margin-bottom: 54px;
  }

  .program__add-goods__item:nth-child(odd) {
    margin-right: 60px;
  }

  .program__add-goods__item:nth-last-child(1),
  .program__add-goods__item:nth-last-child(2) {
    margin-bottom: 0;
  }

  .program__label--checkbox {
    padding-left: 58px;

    &::before {
      top: -10px;

      width: 39px;
      height: 39px;
    }
  }

  input[type="checkbox"]:checked + .program__label--checkbox {
    &::after {
      left: 9px;
    }
  }

  .program__add-goods__wrapper {
    display: flex;
    align-items: center;

    width: $tablet-width;
    padding-right: 67px;
    padding-left: 70px;
  }

  .program__button {
    margin-right: 66px;
    margin-bottom: 0;
    padding-top: 17px;
    padding-bottom: 15px;
  }

  .program__important-field {
    margin: 0;

    font-size: 16px;
  }
}

// // ======================================================================
//    ##Desktop styles
// // ======================================================================

@media (min-width: $desktop-width) {
  .program {
    padding-bottom: 85px;
  }

  .program__base-info-wrapper {
    display: flex;

    width: $desktop-width;
    margin-bottom: 70px;
    padding-top: 0;
    padding-right: 110px;
    padding-bottom: 0;
    padding-left: 112px;
  }

  .program__input-text {
    padding-top: 14px;
    padding-right: 19px;
    padding-bottom: 14px;
    padding-left: 19px;
  }

  .program__item {
    margin-bottom: 23px;
  }

  .program__goal .program__item {
    margin-bottom: 32px;
  }

  .program__goal .program__item:last-child {
    margin-bottom: 0;
  }

  .program__cat-info,
  .program__goal {
    width: 570px;
    margin-bottom: 0;
  }

  .program__cat-info {
    margin-right: 80px;
    padding: 0;
  }

  .program__goal {
    padding: 0;
  }

  .program__contacts {
    width: $desktop-width;
    margin-bottom: 69px;
    padding-right: 110px;
    padding-left: 112px;
  }

  .program__contacts-list {
    display: flex;
  }

  .program__item--mail,
  .program__item--phone {
    width: 570px;
    margin-bottom: 0;
  }

  .program__item--mail {
    margin-right: 77px;
  }

  .program__input-icon--mail {
    background-position: 452px 18px;
  }

  .program__input-icon--phone {
    background-position: 430px 15px;
  }

  .program__comment {
    width: $desktop-width;
    margin-bottom: 66px;
    padding-right: 110px;
    padding-left: 110px;
  }

  .program__add-goods {
    width: $desktop-width;
    margin-bottom: 70px;
    padding-right: 110px;
    padding-left: 110px;
  }

  .program__add-goods__item {
    width: 245px;
    margin-right: 80px;
    margin-bottom: 0;
  }

  .program__add-goods__item:nth-child(odd) {
    margin-right: 80px;
  }

  .program__add-goods__item:last-child {
    margin-right: 0;
  }

  .program__add-goods__item:nth-last-child(1),
  .program__add-goods__item:nth-last-child(2) {
    margin-bottom: 0;
  }

  .program__add-goods__wrapper {
    width: $desktop-width;
    padding-right: 110px;
    padding-left: 111px;
  }

  .program__button {
    width: 568px;
    margin-right: 83px;
  }
}
