.title-h2 {
  margin: 0;
  padding: 0;

  font-weight: 400;
  color: $default-font-color;
  text-transform: none;
}

.title-h2--green-line {
  display: flex;
  align-items: center;

  padding-left: 19px;

  &::after {
    content: "";

    flex-grow: 1;

    width: 1px;
    height: 3px;
    margin-top: 5px;
    margin-left: 24px;

    background-color: $green;
  }
}

// // ======================================================================
//    ##Mobile styles
// // ======================================================================

@media (min-width: $mobile-width) {
  .title-h2--size-xs {
    font-size: 24px;
    line-height: 24px;
  }

  .title-h2--size-m {
    font-size: 36px;
    line-height: 60px;
  }
}

// // ======================================================================
//    ##Tablet styles
// // ======================================================================

@media (min-width: $tablet-width) {
  .title-h2--size-s {
    font-size: 36px;
    line-height: 36px;
  }

  .title-h2--size-l {
    font-size: 60px;
    line-height: 60px;
  }

  .title-h2--green-line {
    margin-left: -298px;
    padding-left: 0;

    &::after {
      margin-top: 11px;
      margin-left: 38px;
    }

    &::before {
      content: "";

      flex-grow: 1;

      width: 1px;
      height: 3px;
      margin-top: 11px;
      margin-right: 39px;

      background-color: $green;
    }
  }
}

// // ======================================================================
//    ##Desktop styles
// // ======================================================================

@media (min-width: $desktop-width) {
  .title-h2--green-line {
    margin-left: -886px;
  }
}
