.title-h1 {
  margin: 0;
  padding: 0;

  font-weight: 400;
  color: $default-font-color;
  text-transform: none;
}

.title-h1--size-s {
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}

.title-h1--size-m {
  font-size: 36px;
  line-height: 60px;
}

.title-h1--white {
  color: $font-color-white;
}

// // ======================================================================
//    ##Tablet styles
// // ======================================================================

@media (min-width: $tablet-width) {
  .title-h1--size-l {
    font-size: 60px;
    line-height: 60px;
    color: $default-font-color;
    text-align: left;
  }
}
