$default-font: "Oswald", "Arial", sans-serif;
$default-font-color: #111111;
$default-font-second-color: #222222;
$second-font: "Arial", sans-serif;
$second-font-color: #444444;
$font-color-white: #ffffff;
$green: #68b738;
$green-darken: #5eaa2f;
$bg-color-gray: #f2f2f2;
$bg-color-white: #ffffff;
$line-green: #68b738;
$line-gray: #e6e6e6;
$line-gray-darken: #d9d9d9;
$line-gray-darken2: #cdcdcd;
$input-error: #ff8282;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
